<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .Row
        {
            display: table;
        }
        .Column
        {
            display: table-cell;
            padding: 10px;
            background-color: red; /*Optional*/
        }

        .cube-map{
            margin: auto;
            padding: 10px;
            text-align: center;
        }

        .side {
            height: 50px;
            width: 50px;
            display: table-cell;
            margin: 1 auto;
            background-color: #C0C0C0;
            border-style: solid;
            border-color: white;
        }

        .sideUP{
            border-style: solid;
            border-color: yellow;
        }
        .sideDOWN{
            border-style: solid;
            border-color: gray;
        }
        .sideLEFT{
            border-style: solid;
            border-color: orange;
        }
        .sideFRONT{
            border-style: solid;
            border-color: green;
        }
        .sideRIGHT{
            border-style: solid;
            border-color: red;
        }
        .sideBACK{
            border-style: solid;
            border-color: blue;
        }
    </style>
</head>
<body>
<div class="cube-map" >
    <h3>Map of Rubik's Cube | Postition ID : {{id}}</h3>
    <div class="line1" align="middle" >
        <div class="Row">
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <!--Up side  -->
            <div class="side side{{values["UP_NORTH_WEST"]}}"></div>
            <div class="side side{{values["UP_NORTH"]}}"></div>
            <div class="side side{{values["UP_NORTH_EAST"]}}"></div>
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
        </div>
        <div class="Row">
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <!--Up side  -->
            <div class="side side{{values["UP_WEST"]}}"></div>
            <div class="side side{{values["UP_CENTER"]}}"></div>
            <div class="side side{{values["UP_EAST"]}}"></div>
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
        </div>
        <div class="Row">
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <!--Up side  -->
            <div class="side side{{values["UP_SOUTH_WEST"]}}"></div>
            <div class="side side{{values["UP_SOUTH"]}}"></div>
            <div class="side side{{values["UP_SOUTH_EAST"]}}"></div>
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
        </div>
    </div>
    <div class="line2" align="middle">
        <div class="Row">
            <!-- Left side -->
            <div class="side side{{values["LEFT_SOUTH_EAST"]}}"></div>
            <div class="side side{{values["LEFT_SOUTH"]}}"></div>
            <div class="side side{{values["LEFT_SOUTH_WEST"]}}"></div>
            <!-- Front side -->
            <div class="side side{{values["FRONT_NORTH_WEST"]}}"></div>
            <div class="side side{{values["FRONT_NORTH"]}}"></div>
            <div class="side side{{values["FRONT_NORTH_EAST"]}}"></div>
            <!-- Right side -->
            <div class="side side{{values["RIGHT_NORTH_WEST"]}}"></div>
            <div class="side side{{values["RIGHT_NORTH"]}}"></div>
            <div class="side side{{values["RIGHT_NORTH_EAST"]}}"></div>
            <!--  -->
            <div class="side side{{values["BACK_SOUTH_EAST"]}}"></div>
            <div class="side side{{values["BACK_SOUTH"]}}"></div>
            <div class="side side{{values["BACK_SOUTH_WEST"]}}"></div>
        </div>
        <div class="Row">
            <!-- Left side -->
            <div class="side side{{values["LEFT_EAST"]}}"></div>
            <div class="side side{{values["LEFT_CENTER"]}}"></div>
            <div class="side side{{values["LEFT_WEST"]}}"></div>
            <!-- Front side -->
            <div class="side side{{values["FRONT_WEST"]}}"></div>
            <div class="side side{{values["FRONT_CENTER"]}}"></div>
            <div class="side side{{values["FRONT_EAST"]}}"></div>
            <!-- Right side -->
            <div class="side side{{values["RIGHT_WEST"]}}"></div>
            <div class="side side{{values["RIGHT_CENTER"]}}"></div>
            <div class="side side{{values["RIGHT_EAST"]}}"></div>
            <!--  -->
            <div class="side side{{values["BACK_EAST"]}}"></div>
            <div class="side side{{values["BACK_CENTER"]}}"></div>
            <div class="side side{{values["BACK_WEST"]}}"></div>
        </div>
        <div class="Row">
            <!-- Left side -->
            <div class="side side{{values["LEFT_NORTH_EAST"]}}"></div>
            <div class="side side{{values["LEFT_NORTH"]}}"></div>
            <div class="side side{{values["LEFT_NORTH_WEST"]}}"></div>
            <!-- Front side -->
            <div class="side side{{values["FRONT_SOUTH_WEST"]}}"></div>
            <div class="side side{{values["FRONT_SOUTH"]}}"></div>
            <div class="side side{{values["FRONT_SOUTH_EAST"]}}"></div>
            <!-- Right side -->
            <div class="side side{{values["RIGHT_SOUTH_WEST"]}}"></div>
            <div class="side side{{values["RIGHT_SOUTH"]}}"></div>
            <div class="side side{{values["RIGHT_SOUTH_EAST"]}}"></div>
            <!--  -->
            <div class="side side{{values["BACK_NORTH_EAST"]}}"></div>
            <div class="side side{{values["BACK_NORTH"]}}"></div>
            <div class="side side{{values["BACK_NORTH_WEST"]}}"></div>
        </div>
    </div>
    <div class="line3" align="middle">
        <div class="Row">
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <!--Up side  -->
            <div class="side side{{values["DOWN_NORTH_WEST"]}}"></div>
            <div class="side side{{values["DOWN_NORTH"]}}"></div>
            <div class="side side{{values["DOWN_NORTH_EAST"]}}"></div>
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
        </div>
        <div class="Row">
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <!--Up side  -->
            <div class="side side{{values["DOWN_WEST"]}}"></div>
            <div class="side side{{values["DOWN_CENTER"]}}"></div>
            <div class="side side{{values["DOWN_EAST"]}}"></div>
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
        </div>
        <div class="Row">
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <!--Up side  -->
            <div class="side side{{values["DOWN_SOUTH_WEST"]}}"></div>
            <div class="side side{{values["DOWN_SOUTH"]}}"></div>
            <div class="side side{{values["DOWN_SOUTH_EAST"]}}"></div>
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
            <!--  -->
            <div class="side"></div>
            <div class="side"></div>
            <div class="side"></div>
        </div>
    </div>

</div>
</div>

</body>
</html>
